<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Github project: <a href='https://github.com/SherlockStd/lisk-transparency-reports'>https://github.com/SherlockStd/lisk-transparency-reports</a></p>
  </body>
</html>
