<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='css/index.min.css' />
	<link rel='stylesheet' href='css/sweet-alert.css' />
</head>

<body>
	<div>
		<header>
				<h1>Lisk Transparency Reports</h1>
		</header>
		<div ng-controller="SidebarCtrl">
			<button ng-click="go('/')">Home</button>
			<button ng-click="go('/verify')">Verify</button>
			<button ng-click="go('/delegates')">Delegates</button>
			<button ng-click="go('/profile')">Profile</button>
			<button ng-click="logout()">Logout</button>
		</div>
		<main>
				<ng-view></ng-view>
		</main>
	</div>
	<!-- Libraries -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-resource.min.js"></script>
	<script src="js/lib/ngStorage.min.js"></script>
	<script src="js/lib/sweet-alert.min.js"></script>
	<script src="js/lib/ng-sweet-alert.min.js"></script>
	<!-- Angular App -->
	<script src="js/index.js"></script>
</body>

</html>