<div>
  <div>
    <h2>Login</h2>
    <div>
      <input type="text" id="delegate" ng-model="login.delegate" />
      <label for="delegate">Delegate</label>
    </div>
    <div>
      <input type="password" id="password" ng-model="login.password" />
      <label for="password">Choose password</label>
    </div>
    <button ng-click="login()">Login</button>
  </div>
  <div>
    <h2>Register</h2>
    <div>
      <input type="text" id="delegate" ng-model="register.delegate" />
      <label for="delegate">Delegate</label>
    </div>
    <div>
      <input type="password" id="password" ng-model="register.password" />
      <label for="password">Choose password</label>
    </div>
    <div>
      <input type="password" id="rpassword" ng-model="register.rpassword" />
      <label for="rpassword">Repeat password</label>
    </div>
    <button ng-click="register()">Register</button>
  </div>
</div>