<div>
<h2>MY PROFILE </h2>
<hr>
<p>
    <b>Username</b> : {{ delegate.username }}<br>
    <b>Address</b> : {{ delegate.address }}<br>
    <b>Public Key</b> : {{ delegate.publicKey }}<br>
    <b>Vote</b> : {{ delegate.vote }}<br>
    <b>Produced Blocks</b> : {{ delegate.producedblocks }}<br>
    <b>Missed Blocks</b> : {{ delegate.missedblocks }}<br>
    <b>Rate</b> : {{ delegate.rate }}<br>
    <b>Approval</b> : {{ delegate.approval }}<br>
    <b>Productivity</b> : {{ delegate.productivity }}<br>
</p>
<br>

<h3>LISKS FORGED BY THE ACCOUNT</h3>
<hr>
<p>
    <b>Fees</b> : {{ totalForgedLisksForUser.fees }}<br>
    <b>Rewards</b> : {{ totalForgedLisksForUser.rewards }}<br>
    <b>Forged</b> : {{ totalForgedLisksForUser.forged }}<br>
</p>

<br>
<h3>ADDRESSES</h3>
<hr>
    <label for="addr1"><b>Donations</b></label><br>
    <input type="text" id="paddr1" ng-model="addr1" />
    <button ng-click="saveAddress()">Save</button>
<br>
    <label for="addr2"><b>Server Maintenance</b></label><br>
    <input type="text" id="paddr2" ng-model="addr2" />
    <button ng-click="saveAddress()">Save</button>
<br>
    <label for="addr3"><b>Personal funds</b></label><br>
    <input type="text" id="paddr3" ng-model="addr3" />
    <button ng-click="saveAddress()">Save</button>
<br>
    <label for="addr4"><b>Holding</b></label><br>
    <input type="text" id="paddr4" ng-model="addr4" />
    <button ng-click="saveAddress()">Save</button>
<br>
    <label for="addr5"><b>Marketing</b></label><br>
    <input type="text" id="paddr5" ng-model="addr5" />
    <button ng-click="saveAddress()">Save</button>    
<hr>
</div>