<div>
<h2>My Profile </h2>
<p>
    <b>Username</b> : {{ delegate.username }}<br>
    <b>Address</b> : {{ delegate.address }}<br>
    <b>Public Key</b> : {{ delegate.publicKey }}<br>
    <b>Vote</b> : {{ delegate.vote }}<br>
    <b>Produced Blocks</b> : {{ delegate.producedblocks }}<br>
    <b>Missed Blocks</b> : {{ delegate.missedblocks }}<br>
    <b>Rate</b> : {{ delegate.rate }}<br>
    <b>Approval</b> : {{ delegate.approval }}<br>
    <b>Productivity</b> : {{ delegate.productivity }}<br>
</p>
</div>