<div>
<h2>Report of {{ delegate.username }} </h2>
<p>
    <b>Username</b> : {{ delegate.username }}<br>
    <b>Address</b> : {{ delegate.address }}<br>
    <b>Public Key</b> : {{ delegate.publicKey }}<br>
    <b>Vote</b> : {{ delegate.vote }}<br>
    <b>Produced Blocks</b> : {{ delegate.producedblocks }}<br>
    <b>Missed Blocks</b> : {{ delegate.missedblocks }}<br>
    <b>Rate</b> : {{ delegate.rate }}<br>
    <b>Approval</b> : {{ delegate.approval }}<br>
    <b>Productivity</b> : {{ delegate.productivity }}<br>
</p>

<p>
    <b>Total Fees</b> : {{ totalForgedLisksForUser.fees }}<br>
    <b>Total Rewards</b> : {{ totalForgedLisksForUser.rewards }}<br>
    <b>Total Forged</b> : {{ totalForgedLisksForUser.forged }}<br>
</p>

</div>