<div>
<h2>{{ delegate.username }} REPORT</h2>

<h3>DELEGATE INFORMATIONS</h3>
<hr>
<p>
    <b>Username</b> : {{ delegate.username }}<br>
    <b>Address</b> : {{ delegate.address }}<br>
    <b>Public Key</b> : {{ delegate.publicKey }}<br>
    <b>Vote</b> : {{ delegate.vote }}<br>
    <b>Produced Blocks</b> : {{ delegate.producedblocks }}<br>
    <b>Missed Blocks</b> : {{ delegate.missedblocks }}<br>
    <b>Rate</b> : {{ delegate.rate }}<br>
    <b>Approval</b> : {{ delegate.approval }}<br>
    <b>Productivity</b> : {{ delegate.productivity }}<br>
</p>
<br>

<h3>LISKS FORGED</h3>
<hr>
<p>
    <b>Fees</b> : {{ totalForgedLisksForUser.fees || 0 }}<br>
    <b>Rewards</b> : {{ totalForgedLisksForUser.rewards || 0 }}<br>
    <b>Forged</b> : {{ totalForgedLisksForUser.forged || 0 }}<br>
</p>

<br>
<h3>ADDRESSES</h3>
<hr>
<p>
    <b>Forge</b> : {{ delegate.address }}<br>
<div ng-repeat="a in addresses">
    <b>{{ a.category }} : </b> {{ a.address }}
    <span ng-if='a.confirmed'>
        (Confirmed)
    </span>
    <span ng-if='!a.confirmed'>
        (Unconfirmed) 
    </span>
</div>
</p>
<br>

<h3>REPORT</h3>
<hr>
<h4>Total Donations to Users/Funds/Projects : 0 LSK</h4>
<b>Total donations to Users</b> : 0 LSK
<b>Total donations to Projects</b> : 0 LSK
<b>Total donation to Lisk Community Fund</b> : 0 LSK

<h4>Reserve for future Donations to Users/Funds/Projects : 0 LSK </h4>

<h4>Sold/Expenses: 0 LSK</h4>

<h4>Longterm Holding : 0 LSK </h4>

<h4>Lisk Eco-System Contributions</h4>
</div>
