<p>Delegate : {{ delegate }} </p>
<p>Amount : {{ amount / 100000000 }} </p>
<p>Address : {{ address }}</p>
<hr>
      <p>
      <label for="txId">Transaction ID</label>
      <input type="text" id="ptxId" ng-model="txId" />
      </p>
      <p>
      <label for="txId">New Password</label>
      <input type="text" id="ptxId" ng-model="newPassword" />
      </p>
      <p>
      <label for="txId">Confirm Password</label>
      <input type="text" id="ptxId" ng-model="newConfirmedPassword" />
      </p>
      <button ng-click="verify()">Confirm</button>