<div>
  <div>
    <h2>Account Verification</h2>
    <p>Your account is not yet confirmed. Please process to this transaction and paste the transaction ID under to verify your
      account.
    </p>
    <p><b>Amount:</b> {{ details.amount / 100000000 || 'Please select an address to confirm.' }}</p>
    <p><b>Address:</b> {{ details.address || '' }}</p>
    <hr>
      <select ng-model="address" ng-change="updateDetails()">
        <option ng-repeat="a in addresses" ng-value="a">{{a.category + ' | ' + a.address }}</option>
      </select>
      <tt>model = {{address}}</tt><br/>
      <label for="txId">Transaction ID</label>
      <input type="text" id="txId" ng-model="txId" />
    <button ng-click="verify()">Verify transaction</button>
  </div>

  
</div>